*{
    box-sizing: border-box;
    
}
@media screen {min-width: 800px} 



body{
    background-color: rgb(216, 247, 247);
    color: rgb(43, 58, 55);
    margin: 0;
    
    line-height: 1.6;
    border-left: 13px groove rgba(28,110,164,0.61);
    padding-right: 25;
    
}
img{
    display: block;
    
    max-width: 200%;
}
.portfolio{
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    
}
.portfolio-image{
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1)
}
.portfolio-image:hover{
    transform: scale(1.08);
    opacity: .80;
};